---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hadrien Poinseaux - Architecte Web">
  <section class="text-center mt-10">
    <h1 class="text-4xl font-bold">Hadrien Poinseaux</h1>
    <p class="text-lg mt-4 text-gray-600">[Ajoute ici ta phrase d'accroche professionnelle]</p>
  </section>
</Layout>
