---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mes projets">
  <section class="mt-10">
    <h2 class="text-2xl font-semibold">Projets</h2>
    <ul class="mt-4 space-y-4">
      <li class="p-4 bg-white rounded shadow">[Projet 1]</li>
      <li class="p-4 bg-white rounded shadow">[Projet 2]</li>
    </ul>
  </section>
</Layout>
